#map {
  /* z-index: -1; */
  height: 100%;
}

.suggestion-data {
  background-color: #555555;
  color: white;
  padding: 15px 32px;
}

.suggestion {
  text-align: left;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.9;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
